*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

